.movie-card {
  margin-top: 2rem;
  background-color: #fcfcfc;
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.movie-img {
  margin: 0;
  padding: 0;
}

.movie-img img {
  height: 100%;
}

.movie-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #2f2f2f;
}

.movie-title h2 {
  font-size: 2.5rem;
  margin: 1rem 2rem 0;
}

.movie-title h3 {
  margin-top: 1.2rem;
  padding: 0.75rem;
  border-radius: 50%;
  background: #d2f898;
}

.movie-subtitle {
  margin: 0.2rem 0 1rem;
  opacity: 0.6;
}

.movie-descr {
  color: #2f2f2f;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: left;
}
